.contactPage{
    padding: 6rem 0;
}
    #contact-form .grid3{
gap: 1rem;
}

#contact-form .tf1,
#contact-form .tf2,
#contact-form .tf3
{    
    height: 5rem;
}

#contact-form .tf1 input,
#contact-form .tf2 input,
#contact-form .tf3 input
{
    width: 100%;
    height: 100%;
    text-align: start;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    outline: none;
    border-radius: 0.4rem;  
    border: 0.08rem solid rgb(71, 70, 70);   
}

#contact-form .ft
{
   margin: 1rem 0 2rem;
}
#contact-form .ft textarea{
    width: 100%;
    text-align: start;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;  
    border: 0.08rem solid rgb(71, 70, 70);
    resize: none;
    outline: none;
      
}

#contact-form button{
 
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    background: #000;
    color: #eee;
    cursor: pointer;  
    border: none; 
  
}
#contact-form button:hover{
    background: rgb(221, 91, 52);
}

.toast-message{
    margin-top: 4rem;
  }


@media screen and (max-width: 800px) {
    #contact-form .grid3{
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }

}

