.gallery{
    margin: 6rem auto;
    
}
.gallery .box{
    height: 28rem;
    border-radius: 0.3rem;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7), -5px 0 5px -5px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.gallery .box:hover img{
    transform: scale(1.2);
}
.gallery .box img{
    width: 100%;
    height: 100%;
    transition: 7s ease-out;
}