.menu footer::before{
    display: none;
  
}
.menu footer{
    z-index: -1;
}
.imageM {
    height: 65rem; 
    position: relative;
    overflow: hidden;
    display: flex;
  }
.imageM img{
    position: absolute;
    width: 100%;
    height: 100%;     
  }

.M{
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7), -5px 0 5px -5px rgba(0,0,0,0.7);
    position: relative;
    overflow: hidden;
    margin:-5rem auto -9rem;
    padding: 6rem 0;
}

.M::before{
    content:" ";
    display:block;
    height: 65px;
    background-image:url('../../Images/torn-border2.png');
    position:absolute;
    top:-15px;
    width:300%;
    left:-30px;
}

.M::after{
    content:" ";
    display:block;
    height: 65px;
    background-image:url('../../Images/torn-border2.png');
    position:absolute;
    bottom:-10px;
    width:300%;
    left:-30px;
    transform: rotateX(180deg);
    overflow: hidden;
}



